.container {
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    height: 100vh;
    background-color: rgba(100, 149, 237,0.1);
}
.header{
    grid-column: 2/3;
    margin-top: 1em;
}
.cards-container{
    grid-column: 2/3;
    margin-top: 3em;
    height: 100vh;
}

.drive-container{
grid-column: 2/3;
}
.Read-more{
    grid-column: 3/4;
}
.search-box{
    grid-column: 2/3;
    width: 15em;
    font-size: medium;
    border-top: none white;
    border-left: none white;
    border-right: none white;
}
